%header
  %p
    You are looking for the best phones among your own list?
  %p
    Can't figure out which one to choose?
  %p
    This web site will try to help you:
  %ol
    %li Fill text field with your list of phones using ','(comma) as delimiter
    %li Press 'Search' and wait until all your phones will be sorted
    %li Analyze them and choose the best one
  %div{:id => 'notice', :class => 'message'}= flash[:notice]
  %div{:id => 'error', :class => 'message'}= flash[:error]

%div{:id => 'content'}
  =form_tag '/phones/compare', :method => :get do
    =text_area_tag 'phone_names', @query, :autofocus => true ,:placeholder => "Enter here list of phones using comma(',') as delimiter. Example: LG P500, LG P760, Nexus 5"
    %div{:id => 'form-buttons'}
      =button_tag 'Clear', :id=> 'clear_btn', :type => 'submit', :name => 'commit', :value => 'clear'
      =button_tag 'Search', :id=> 'search_btn', :type => 'submit', :name => 'commit', :value => 'search'
  -if !@phones.empty?
    %p Sorted list of phone best-to-worst:
  %ol
    -@phones.each  do |phone|
      %li
        %span{:class => 'phone_name', :title => phone['name']}
          =link_to phone['name'], phone['url'], :target => '_blank'
        %span{:class => 'phone_points', :title => 'Toggle techinal data'}
          =phone['points']
          %span{:class => 'arrow'}
            ="\u2b07".html_safe
        %table
          -phone.select {|k, v| not ['name', 'points', 'url', 'price'].include?(k)}.each do |key, value|
            %tr
              %td
                =key
              %td
                =value
%footer
  %p
    This website uses
    =link_to 'http://www.versus.com', 'http://www.versus.com', :target => '_blank'
    API and data.
