%header
  You are looking for the best phones among your own list?
  %br
  Can't figure one which one to choose?
  %br
  This web site will try to help you:
  %ol
    %li Fill text field with your list of phones using ','(comma) as delimiter
    %li Press 'Search' and wait until all your phones will be sorted
    %li Analyze them and choose the best one
  %div{:id => 'notice', :class => 'message'}= flash[:notice]
  %div{:id => 'error', :class => 'message'}= flash[:error]

%br

%div{:id => 'content'}
  =form_tag '/phones/compare', :method => :get do
    =text_area_tag 'phone_names', @query, :placeholder => "Enter here list of phones using comma(',') as delimiter. Example: LG P500, LG P760, Nexus 5"
    %br
    =button_tag 'Clear', :id=> 'clear_btn', :type => 'submit', :name => 'commit', :value => 'clear'
    =button_tag 'Search', :id=> 'search_btn', :type => 'submit', :name => 'commit', :value => 'search'
  %ol
    -@phones.each  do |phone|
      %li
        %div{:class => 'phone_points'}
          =phone['points']
        %div{:class => 'phone_name', :title => phone['name']}
          =link_to phone['name'], phone['url'], :target => '_blank'
        =button_tag 'Show technical data', class: 'toggle_tech_data', :type => 'button', :disabled => true
        %table
          -phone.select {|k, v| not ['name', 'points', 'url', 'price'].include?(k)}.each do |key, value| 
            %tr
              %td
                =key
              %td
                =value
%footer
  This website uses 
  =link_to 'http://www.versus.com', 'http://www.versus.com', :target => '_blank'
  API and data.


