// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width: 600px;
$ol-left-padding: 20px;
$textarea-height: 100px;
$common-padding: 10px;
$textarea-padding: 5px;

$phone-points-width: 100px;
$phone-show-tech-width: 150px;

* {
  margin: 0;
  padding: 0;
}

body,
textarea,
button {
  font-family: 'Open Sans', sans-serif;
}

ol {
  list-style-position: outside;
}

header {
  padding-bottom: $common-padding;
  width: $width;
  ol {
    padding-left: $ol-left-padding;
  }

  .message {
    margin-top: 10px;
    padding-left: 10px;
  }

  #notice {
    background-color: #ff9;
    border-left: 10px solid #fc0;
  }

  #error {
    background-color: #f99;
    border-left: 10px solid #f00;
  }
}

body {
  margin: 0 auto;
  width: $width;

  #content {
    ol {
      padding-left: $ol-left-padding;

      li {
        clear: both;
        position: relative;

        span {
          display: inline-block;
        }

        span.phone_points:hover {
          cursor: pointer;
          span.arrow {
            visibility: visible;
          }
        }

        a.price {
          display: none;
        }

        a.price,
        span.phone_points {
          float: right;
        }

        span.phone_points {
          margin-left: 140px;
          width: 60px;
          text-align: right;
        }

        span.phone_points span.arrow {
            visibility: hidden;
        }

      }

    }

    textarea {
      width: $width - 6px - $textarea-padding * 2;
      height: $textarea-height;
      font-size: medium;
      padding: $textarea-padding;
      border-radius: 5px;
      border: solid 1px #ccc;
    }

    button {
      color: black;
      cursor: pointer;
      font-size: medium;
    }

    button:hover,
    button:focus,
    textarea:focus {
      box-shadow: 0 0 7px gray;
    }

    #form-buttons {
      padding: $common-padding 0;

      #clear_btn,
      #search_btn {
        border-radius: 5px;
        border-width: 0px;
        height: 30px;
      }

      #clear_btn:hover,
      #clear_btn:focus {
        background-color: rgba(255, 153, 51, 1.0);
      }

      #clear_btn {
        width: $width / 5;
        background-color: rgba(255, 204, 51, 0.8);
      }

      #search_btn:hover,
      #search_btn:focus {
        background-color: rgba(51, 204, 51, 1.0);
      }
      #search_btn {
        width: $width / 2;
        background-color: rgba(0, 255, 51, 0.8);
        position: relative;
        float: right;
      }
    }
  }
}



footer {
  padding-top: 300px;
  width: $width;

  p {
    text-align: center;
  }
}
