<!DOCTYPE html>
<html>
<head>
  <title>Find best phone between several ones</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="This website will help you to choose best phones amoung your list.">
</head>
<body>

<%= yield %>

</body>
</html>
