!!!
%html
  %head
    %title Choose best phone between several ones
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "c6RYH9hm0G85TJD1lHHtzPGXfRlQpdvqd8oqFgThTdg", :name => "google-site-verification"}
    %meta{:content => "If you are tired of comparing multiple phones' features and don't know which one to choose. This site will try to help you by sorting entered phones using their points/scores. Most of modern phone vedors are supported like: sony, lg, samsung, apple, nokia and etc. Functionality is based on http://www.versus.com/ web site.", :name => "description"}
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}
  %body
    = yield